DBPASS=supersecretpw
RSPAMD_PASSWORD=supersecretpwRPSAMD
ADD_DOMAINS=domainA.com,domainB.com
#DISABLE_DNS_RESOLVER=true
#ENABLE_POP3=true
#ENABLE_FETCHMAIL=true
#DISABLE_CLAMAV=true
#DISABLE_SIGNING=true
#DISABLE_GREYLISTING=true
#DISABLE_RATELIMITING=true

MYSQL_ROOT_PASSWORD=rootpwsecret

VHOSTS_ACCOUNTS=welcome.domainA.com
PFDB_DB=postfix
PFDB_USR=postfix
SMTP_FROM=welcome@domainA.com
SMTP_PW=smtppw

MYSQL_DATABASE_NC=nextcloud
MYSQL_USER_NC=nextcloud
MYSQL_PASSWORD_NC=ncdbpw
NEXTCLOUD_ADMIN_USER=adminusername
NEXTCLOUD_ADMIN_PASSWORD=adminaccountpw

VIRTUAL_HOST=autoconfig.domainA.com,autodiscover.domainA.com,autoconfig.domainB.com,autodiscover.domainB.com
DOMAIN=domainA.com