server {
  listen 8000;
  server_name office.{{ ecloud_domain }};
  location /.well-known/acme-challenge/ {
    alias /etc/letsencrypt/acme-challenge/.well-known/acme-challenge/;
  }
  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  listen 4430 ssl http2;
  server_name office.{{ ecloud_domain }};

  ssl_certificate /certs/live/office.{{ ecloud_domain }}/fullchain.pem;
  ssl_certificate_key /certs/live/office.{{ ecloud_domain }}/privkey.pem;

  include /etc/nginx/params/ssl_params;
  include /etc/nginx/params/headers_params;

  add_header Strict-Transport-Security "max-age=31536000;";
  client_max_body_size 1024M;

  #auth_basic "Who's this?";
  #auth_basic_user_file /passwds/<NAME>.htpasswd;

  location / {
     # Fix OnlyOffice mixed content problem with ChunkedUploader
     add_header Content-Security-Policy upgrade-insecure-requests always;
     add_header "Access-Control-Allow-Origin" "*" always;
     add_header "Access-Control-Allow-Methods" "POST, GET, OPTIONS" always;
     add_header "Access-Control-Allow-Headers" "Content-Type, Accept, Authorization, Origin, Content-Range, Content-Disposition" always;
     proxy_hide_header Access-Control-Allow-Origin;
     proxy_read_timeout 300s;
     client_max_body_size 4096M;
     if ($request_method = "OPTIONS") {
        return 204;
     }
    proxy_pass http://onlyoffice-community-server:80;
    include /etc/nginx/params/proxy_params;

    # hide this version header for better security
    proxy_set_header x-aspnet-verion "";
  }
}
